/* the * symbol is universal, affects the entire display*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* the body determines the entire background*/
body {
    background-color: #d9dcd6;
}

/* the header is the top bar with dark blue*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* the h1 is where the title is placed. */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* the .seo is a darker grey in the title of the website.*/
header h1 .seo {
    color: #d9dcd6;
}

/*This is where the navigation bar is located*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*A breakdown of the navigation bar style.*/
header nav label {
    list-style-type: none;
}

/*Specific listing from the navigation block with an inline-block style formatting.*/
header nav label li {
    display: inline-block;
    margin-left: 25px;
}

/*color of top bar of navigation*/
a {
    color: #ffffff;
    text-decoration: none;
}
 /*paragraph section font*/
p {
    font-size: 16px;
}

/*Front page Image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Distance between image and words in respect to the left.*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*side bar nav section with list of benefits*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Lead Generation section*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Brand Awareness section*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Cost Management Section*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*image of gear with money symbol*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*image of light bulb over tux*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*image of larger gear with 3 coins*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*First section of information about Search Engine*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Second section of information about Online Reputation*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Third section of Social Media*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*bottom tab for catch phrase*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*bottom tab with copyright*/
.footer h2 {
    font-size: 20px;
}
